modules = ["nodejs-20", "web"]
run = "cd backend && npm install express && node server.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node backend/server.js"]

[[ports]]
localPort = 5001
externalPort = 80
